@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* colours */
/* Edits */
/* Text */
/* Resets */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Animation reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0;
  /* For Chrome, Safari, and Opera */
}

body {
  background-color: #000;
  color: #d8d8d8;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a:visited, a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem 2rem;
  border-top: 1px solid rgba(179, 179, 179, 0.25);
  border-bottom: 1px solid rgba(179, 179, 179, 0.25);
  background-color: #121212;
  height: calc(100vh - 80vh);
}

.contact-me p {
  font-size: 14px;
}

.contact-me div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-me div button {
  height: 40px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  width: 8rem;
  color: #fff;
  margin: 0 1rem;
}

.contact-me div .primary-btn1 {
  background-color: #ffa0c7;
  width: 7rem;
}

.contact-me div .primary-btn2 {
  background-color: #72d865;
}

@media only screen and (max-width: 600px) {
  .contact-me {
    height: 20rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .contact-me p {
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid lightgray;
  }
  .contact-me div .primary-btn1,
  .contact-me div .primary-btn2 {
    width: 7.5rem;
  }
}

@media only screen and (max-width: 300px) {
  .contact-me div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }
}
/*# sourceMappingURL=contact-me.css.map */