@import '../../universal-styling.scss';


.projects {
    width: $default-width;
    margin: 2rem auto;
}

.codingProjects {
    clear: right;
    width: 50%;
    margin: 2rem 0;
    img {
        max-width: 100%;
        margin: 0 auto;
    }
    p {
        font-size: $secondary-paragraph-size;
    }

    a {
        font-size: 0.5rem;
    }
}