@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* colours */
/* Edits */
/* Text */
/* Resets */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Animation reset */
* {
  /*CSS transitions*/
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  animation: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #d8d8d8;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a:visited, a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.portfolio {
  background-color: #000;
  margin: auto;
  inset: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh !important;
  position: relative;
}

.portfolio h2 {
  color: #ffa0c7;
  letter-spacing: 5px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  top: 3rem;
}

.portfolio .work-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.portfolio .work-type .active {
  color: #72d865;
}

.portfolio .work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.portfolio .work-container > * {
  background-color: rgba(58, 58, 58, 0.3);
  border-radius: 10px;
  height: 150px;
  width: 200px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.portfolio .work-container > * h3 {
  z-index: -1;
}

.portfolio .work-container > *:hover {
  opacity: 0.5;
  color: lightgray;
}

@media only screen and (max-width: 550px) {
  .portfolio {
    padding: 2rem;
  }
  .portfolio .work-container {
    max-width: 100%;
    width: 100%;
  }
  .portfolio .work-container > * {
    height: 140px;
    width: 175px;
  }
}

@media only screen and (max-width: 450px) {
  .portfolio {
    height: auto !important;
  }
}

.item-div li {
  padding: 0.25rem 0.75rem;
  font-size: 10px;
  cursor: pointer;
  background-color: rgba(58, 58, 58, 0.3);
  border-radius: 10px;
  color: #fff;
}

.item-div li:hover {
  color: #72d865;
  opacity: 0.75;
}
/*# sourceMappingURL=portfolio-list.css.map */