@import '../../universal-styling.scss';

.aboutMe {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000;
}

.aboutImage {
    flex-basis: 100%;
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);

    #overlayImage {
        z-index: 1;
        max-width: 70%;
        grid-area: 1 / 5 / 17 / 17;
        box-shadow: -5px 5px 10px rgb(90, 90, 90);
    }

    #underlayImage {
        max-width: 65%;
        opacity: 0.4;
        filter: grayscale(100%);
        grid-area: 2 / 4 / 17 / 17;
        box-shadow: -5px 5px 10px grey;
    }
}

.aboutText {
    text-align: center;
    width: 100%;
    flex-basis: 100%;

    h2 {
        @include header2;
    }

    p {
        margin: 7.5% auto 5%;
        max-width: 70%;
        color: $primary-light;
        font-size: 16px;
    }

    button {
        height: 40px;
        border: none;
        border-radius: 5%;
        cursor: pointer;
        width: 8rem;
        color: #fff;
        margin: 0 1rem;
        background-color: $secondary-clr-1;
    }
}


@media only screen and (max-width: 800px) {

    .aboutImage {
        display: static;
    }

    .aboutText {
        margin-top: 10rem;
        width: 100%;
    }

    .aboutMe {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .aboutImage {
        display: inline-block;
    }
    
    #underlayImage {
        display: none;
    }
    
    #overlayImage {
        border-radius: 15%;
        box-shadow: none;
        margin: 0 auto;
        width: 27.5%;
        display: block;
    }
}