@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* colours */
/* Edits */
/* Text */
/* Resets */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

* {
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0;
  /* For Chrome, Safari, and Opera */
}

body {
  background-color: #121212;
  color: #d8d8d8;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a:visited, a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.navbar {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(179, 179, 179, 0.25);
  width: 100%;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0.25rem;
}

.navbar::before {
  width: 100%;
  height: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#ffa0c7), to(#72d865));
  background: linear-gradient(to right, #ffa0c7, #72d865);
  position: absolute;
  top: -0.25rem;
  content: "";
}

.navbar nav .mainNav li {
  display: inline-block;
  font-size: 14px;
  margin: 0 20px;
  cursor: pointer;
  height: 20px;
}

.navbar nav .mainNav li:hover {
  border-bottom: solid;
  color: #ffa0c7;
}

.navbar nav .mainNav li a:hover {
  color: #ffa0c7;
}

.hamburger {
  display: none;
}

.hamburger .hamburger-menu {
  display: none;
}

#logo {
  position: relative;
  left: 15px;
}

@media only screen and (max-width: 660px) {
  .mainNav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger .icon {
    right: 1rem;
    width: 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  .hamburger .icon span {
    width: 100%;
    height: 2px;
    background-color: lightgray;
  }
  .hamburger .hamburger-menu {
    width: 100% !important;
    height: calc(100vh - 3rem) !important;
    position: fixed;
    left: 0;
  }
  .hamburger .hamburger-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 0.75rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamburger .hamburger-menu ul li {
    font-size: 1rem;
    cursor: pointer;
  }
  .hamburger .hamburger-menu.active {
    border-top: 1px solid rgba(179, 179, 179, 0.25);
    display: block;
    height: 40vh;
    width: 30vh;
    background-color: #121212;
    border: 1px solid #292929;
    position: absolute;
    top: 3rem;
  }
}

.hamburger-item {
  color: lightgray;
}

.hamburger-item:hover {
  color: #ffa0c7;
}

.hamburger-item a:hover {
  color: #ffa0c7;
}
/*# sourceMappingURL=navbar.css.map */