@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* colours */
/* Edits */
/* Text */
/* Resets */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Animation reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0;
  /* For Chrome, Safari, and Opera */
}

body {
  background-color: #000;
  color: #d8d8d8;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a:visited, a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10%;
  text-transform: uppercase;
}

.intro .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.intro .text {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 2rem;
}

.intro .text h1 {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.intro .text h2 {
  font-size: 1rem;
  line-height: 2;
}

.intro .text h2 span {
  color: #72d865;
}

.intro .text h2 span .ityped-cursor {
  -webkit-animation: blink 1s infinite !important;
  animation: blink 1s infinite !important;
  -webkit-animation-direction: alternate !important;
          animation-direction: alternate !important;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scroll-down {
  font-size: 0.75rem;
  position: absolute;
  right: 0.5rem;
  bottom: 5rem;
  z-index: 1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.scroll-down p {
  -webkit-animation: upAndDown 1.5s infinite;
          animation: upAndDown 1.5s infinite;
  position: relative;
}

#arr-forward {
  display: block;
}

#arr-down {
  display: none;
}

h1 span,
h2 span {
  -webkit-transition: color 1.5s;
  transition: color 1.5s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  letter-spacing: -0.2vw;
}

h1 span:hover,
h2 span:hover {
  -webkit-transition: color 0s;
  transition: color 0s;
}

.a:hover {
  color: gold;
}

.b:hover {
  color: pink;
}

.c:hover {
  color: gray;
}

.d:hover {
  color: lightblue;
}

.e:hover {
  color: lightcoral;
}

.f:hover {
  color: lightseagreen;
}

@-webkit-keyframes upAndDown {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes upAndDown {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media only screen and (max-width: 500px) {
  .intro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5%;
  }
  .intro .text h1 {
    font-size: 4rem;
  }
  .intro .scroll-down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    right: 40%;
    bottom: 2.75rem;
  }
  .intro .scroll-down p {
    -webkit-animation: upAndDown 1.5s infinite;
            animation: upAndDown 1.5s infinite;
    position: relative;
  }
  #arr-forward {
    display: none;
  }
  #arr-down {
    display: block;
  }
  @-webkit-keyframes upAndDown {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-25px);
      transform: translateY(-25px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes upAndDown {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-25px);
      transform: translateY(-25px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

@media only screen and (max-width: 300px) {
  .intro .text h1 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=intro.css.map */