@import "../../index.scss";
@import "../landing/landing.scss";

#welcome {
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.intro-title {
  font-size: .5rem;
  letter-spacing: 5px;
}

.scroll {
  font-size: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: .5rem;
  cursor: pointer;
  gap: 0.25rem;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  p {
    animation: knowmore 1.5s infinite;
    position: relative;
  }
}

@keyframes knowmore {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
