@import "../../index.scss";

.intro {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding: 10%;
  text-transform: uppercase;

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .text {
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    h1 {
      font-size: 5rem;
      font-weight: 600;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 1rem;
      line-height: 2;

      span {
        color: $secondary-clr-2;

        .ityped-cursor {
          -webkit-animation: blink 1s infinite;
          -moz-animation: blink 1s infinite;
          animation: blink 1s infinite;
          animation-direction: alternate;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        @-webkit-keyframes blink {
          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        @-moz-keyframes blink {
          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }
      }
    }
  }
}

#typed {
  letter-spacing: 2px;
  font-weight: 400;
}

.scroll {
  font-size: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0.5rem;
  cursor: pointer;
  gap: 0.25rem;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  p {
    animation: upanddown 1.5s infinite;
    position: relative;
  }
}

@keyframes upanddown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#arr-forward {
  display: block;
}

#arr-down {
  display: none;
}

h1 span,
h2 span {
  transition: color 1.5s;
  transition-delay: 1s;
  letter-spacing: -0.2vw;
}

h1 span:hover,
h2 span:hover {
  transition: color 0s;
}

.a:hover,
.b:hover,
.c:hover,
.d:hover,
.e:hover {
  cursor: pointer;
}

.a:hover {
  color: gold;
}

.b:hover {
  color: pink;
}

.c:hover {
  color: gray;
}

.d:hover {
  color: lightblue;
}

.e:hover {
  color: lightcoral;
}

.f:hover {
  color: lightseagreen;
}

@media only screen and (max-width: 500px) {
  .intro {
    align-items: center;
    padding: 5%;
    margin-top: -2.5rem;

    .text {
      h1 {
        font-size: 4rem;
      }
    }

    .scroll-down {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotate(0);
      right: 40%;
      bottom: 2.75rem;

      p {
        animation: upAndDown 1.5s infinite;
        position: relative;
      }
    }
  }

  #arr-forward {
    display: none;
  }

  #arr-down {
    display: block;
  }

  @keyframes upAndDown {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-25px);
      transform: translateY(-25px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

@media only screen and (max-width: 300px) {
  .intro {
    .text {
      h1 {
        font-size: 3rem;
      }
    }
  }
}
