@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* colours */
/* Edits */
/* Text */
/* Resets */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Animation reset */
* {
  /*CSS transitions*/
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  animation: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #d8d8d8;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a:visited, a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

footer {
  background-color: #121212;
  position: relative;
  bottom: 0;
  font-weight: lighter;
  text-transform: uppercase;
  height: 180px !important;
  text-align: center;
  font-size: 12px !important;
  border-top: solid 1px rgba(179, 179, 179, 0.25);
  color: lightgray;
}

footer h4 {
  margin: 5%;
  letter-spacing: 2px;
}

footer ul li {
  margin: 2%;
  display: block;
  cursor: pointer;
}

footer ul li:hover {
  text-decoration: underline;
  opacity: 0.5;
}

footer p {
  text-align: right;
  font-size: 10px;
  text-transform: capitalize;
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.left, .right {
  width: 49.5%;
  height: 100%;
}

#contact-me {
  color: inherit;
}

@media only screen and (max-width: 500px) {
  footer {
    height: 375px;
  }
  footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .left, footer .right {
    width: 100%;
    height: auto;
    margin: 1rem 0 0;
  }
  footer .left h4, footer .right h4 {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=footer.css.map */