@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Variables

/* colours */

$primary-light: lightgray;
$primary-neutral: #373737;
$primary-dark: rgb(41, 41, 41);

$secondary-clr-1: #ffa0c7;
$secondary-clr-2: #72d865;
$secondary-clr-3: rgb(27, 27, 50);

$border: rgba(179, 179, 179, 0.25);

/* Edits */

$default-width: 80%;

/* Text */

$primary-paragraph-size: 1rem;
$secondary-paragraph-size: 1rem;

/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

// Universal Styles

* {
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
}

body {
  background-color: #121212;
  color: rgb(216, 216, 216);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a:visited,
a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

// Mixins //

@mixin header2 {
  color: $secondary-clr-1;
  letter-spacing: 5px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

.portfolio {
  background-color: #121212;
  background-image: radial-gradient(
      at 0% 100%,
      $primary-dark 0,
      transparent 50%
    ),
    radial-gradient(at 50% 40%, $secondary-clr-3 0, transparent 25%),
    radial-gradient(at 50% 50%, $secondary-clr-3 0, transparent 60%);
}
