@import '../../universal-styling.scss';


.navbar {
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: $primary-neutral-opacity;
    
    nav {
        position: absolute;
        right: 0;
        .mainNav {
            align-items: center;

            li {
                display: inline-block;
                margin: 0 20px;
                cursor: pointer;
                transition: 0.5s ease !important;
                // CSS Transition Is Stopped In Universal CSS
                &:hover {
                    padding-bottom: 5px;
                    border-bottom: solid;
                    color: $secondary-clr-1;
                }
    
                a:hover {
                    color: $secondary-clr-1;
                }
            }
        }
    }
}

.burger-menu-icon {
    display: none;
}

.burger-menu {
    display: none;
}

#logo {
    position: relative;
    left: 15px;
}

@media only screen and (max-width: 500px) {
    .nav-item {
        display: none !important;
    }

    .burger-menu-icon {
        display: block;
        position: absolute;
        right: 15px;
        cursor: pointer;
    }

    .burger-menu {
        background-color: $primary-neutral-opacity;
        height: 100vh;
        width: 50%;
        position: absolute;
        right: 0;
        top: 2.25rem;
        flex-direction: column;

        .burger-item {
            list-style-type: none;
            text-align: center;
            padding: 0.75rem 0;
        }
    }
}