@import '../../universal-styling.scss';


.navbar {
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: $primary-neutral-opacity;
    
    nav {
        position: absolute;
        right: 0;

        .mainNav {
            align-items: center;

            li {
                display: inline-block;
                margin: 0 20px;
                cursor: pointer;
                // transition: 2s ease !important;
                // CSS not working on anchor tags.
                // CSS Transition Is Stopped In Universal CSS
                &:hover {
                    text-decoration: underline;
                    color: $secondary-clr-1;
                }
    
                a:hover {
                    color: $secondary-clr-1;
                }
            }
        }
    }
}

.hamburger {
    display: none;
}

#logo {
    position: relative;
    left: 15px;
}

@media only screen and (max-width: 550px) {
    
    .mainNav {
        display: none;
    }

    .hamburger {
        display: block;
        position: relative;
        right: 0;
        top: 0;

        
        .icon {
            position: relative;
            right: 1rem;
            z-index: 10;
            width: 1.75rem;
            display: flex;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;

            span {
                width: 100%;
                height: 2px;
                background-color: $primary-light;
            }
        }

        .active {
            height: 100vh;
            width: 30vh;
            background-color: $primary-neutral;
            position: absolute;
            top: 2rem;

            // why is it top 2rem?

            right: 0;
        }

        .hamburger-menu {

            ul {
                display: flex;
                flex-flow: column nowrap;
                gap: 0.75rem;
                margin: 1rem 1rem 0;
                li {
                    font-size: 1.25rem;
                    cursor: pointer;
                }
            }
        }
    }
}