@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* colours */
/* Edits */
/* Text */
/* Resets */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Animation reset */
* {
  /*CSS transitions*/
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  animation: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #d8d8d8;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a:visited, a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.navbar {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(58, 58, 58, 0.3);
}

.navbar nav {
  position: absolute;
  right: 0;
}

.navbar nav .mainNav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav .mainNav li {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}

.navbar nav .mainNav li:hover {
  text-decoration: underline;
  color: #ffa0c7;
}

.navbar nav .mainNav li a:hover {
  color: #ffa0c7;
}

.hamburger {
  display: none;
}

#logo {
  position: relative;
  left: 15px;
}

@media only screen and (max-width: 550px) {
  .mainNav {
    display: none;
  }
  .hamburger {
    display: block;
    position: relative;
    right: 0;
    top: 0;
  }
  .hamburger .icon {
    position: relative;
    right: 1rem;
    z-index: 10;
    width: 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  .hamburger .icon span {
    width: 100%;
    height: 2px;
    background-color: lightgray;
  }
  .hamburger .active {
    height: 100vh;
    width: 30vh;
    background-color: #3a3a3a;
    position: absolute;
    top: 2rem;
    right: 0;
  }
  .hamburger .hamburger-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 0.75rem;
    margin: 1rem 1rem 0;
  }
  .hamburger .hamburger-menu ul li {
    font-size: 1.25rem;
    cursor: pointer;
  }
}
/*# sourceMappingURL=navbar.css.map */